<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

<h2>Productos</h2>
<hr>

<ul id="product-list">
    {{#each products}}
        <li>
        <h3>{{title}}</h3>
        <p>Precio: ${{price}}</p>
        <p>Descripción: {{description}}</p>
        </li>
    {{/each}}
</ul>